node_modules/
dist/
.env
coverage/
ha-config/*
!ha-config/configuration.yaml
!ha-config/fan
!ha-config/media_player
!ha-config/select
!ha-config/sensor
!ha-config/switch
!ha-config/README.md
receivers.json
receivers-discovered.json